* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Google Sans Regular;
    box-sizing: border-box;
}

body{
    display: grid;
    background: #fefefe url('Background2.png');
    background-size: cover;
    position: relative;
}

header{
    width: 100vw;
    height: 80px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
}

.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 3px 20px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{
    color: #11101b;
    background: #dbd8d8;
}
.nav-bar ul li a.active{
    color: #11101b;
    background: #dbd8d8;
}
@media only screen and (max-width: 1320px) {
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px) {
    header{
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 250px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
    .left{
        padding-left: 40px;
        padding-right: 10px;
    }
    .logo-miyabi{
        padding-top: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 20px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
    .nav-bar {
        height: 0;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 250px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 60px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
    .left{
        padding-left: 30px;
        padding-right: 10px;
    }
    .logo-miyabi{
        padding-top: 7px;
    }
}


a:link {text-decoration:none}
a:visited {text-decoration:none}
a:hover {text-decoration:underline}
a:active {text-decoration:none}
/************heading**************/
.heading{
    padding-top:95px;
    align-items:center;
}
.right{
    width: 440px;
    height: 440px;
    background-image: url('Miyabi.png');
    background-size:cover;
    border-radius: 400px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.right::before{
    width: 430px;
    height: 430px;
    border:2px solid white;
    content: '';
    position: absolute;
    border-radius: 430px;
    padding:10px;
}

/**********left************/
.left{
    padding-top: 50px;
}
.left p:nth-child(1){
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    font-style: italic;
}
.left h1{
    font-size: 90px;
    color:white;
}
.left p:nth-child(3){
    color: orange;
    font-size: 30px;
    font-style: italic;
}
.left button{
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 20px;
    border:2px solid white;
    background-color:transparent;
    color:white;
    margin:20px 0px;
}
/*********SocialMedia***************/
.SocialMedia{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 200px;
    background-color: #e5e3e3;
    font-size: 25px;
    float: right;
    border-radius: 4px;


}
.SocialMedia i:hover {
    color:orange;
}
.social{
    padding-top: 120px;
}
#floatingRectangle {
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 200px;
    height: 200px;
    padding: 0;
    float: right;
    width: 40px;
}

.about-page-row{
    display: flex;
    gap: 20px;
}

.about-page-col{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    min-height: 500px;
    padding-top: 50px;
}
.about-page-img-trip{
    border-radius: 15px;
}
.about-page-col_2{
    background-color: ghostwhite;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    min-height: 500px;
}
.about-page-col_2-div_1{
    min-height: inherit;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
}
