<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<!--    This is a thymeleaf of spring boot just go to the pageFragment.html
        and copy-replace this with the head part and it will become normal html
-->
<head th:replace="thymeleafFragments/pageFragment.html :: head-global"></head>
<title>About Miyabi</title>


<body>
<!--    This is a thymeleaf of spring boot just go to the pageFragment.html
        and copy-replace this with the header div part and it will become normal html
-->
    <div th:replace="thymeleafFragments/pageFragment.html :: header-div"></div>

    <div class=" heading container">
      <div class="row about-page-row">
        <div class="col about-page-col">
            <div class="recensione">
                <img src="images/tip.PNG" class="about-page-img-trip">
            </div>
        </div>
        <div class="col about-page-col_2" >
            <div class="d-flex flex-column about-page-col_2-div_1">
                <div>
                    <h1>Località e contatti</h1>
                </div>
                <div>
                    <img src="https://maps.google.com/maps/api/staticmap?&amp;channel=ta.desktop.restaurant_review&amp;zoom=15&amp;size=347x137&amp;scale=1&amp;client=gme-tripadvisorinc&amp;format=jpg&amp;sensor=false&amp;language=it_IT&amp;center=45.061489,7.701620&amp;maptype=roadmap&amp;&amp;markers=icon:http%3A%2F%2Fc1.tacdn.com%2F%2Fimg2%2Fmaps%2Ficons%2Fcomponent_map_pins_v1%2FR_Pin_Small.png|45.061489,7.701620&amp;signature=aCMUBY9icL3dvbRMraLYrwpHTuQ=" style="min-width: 100%; border: #11101b solid 1px">
                </div>
                <div>
                    <div class="" style="display: flex; margin-top: 12px">
                        <span class="fa fa-map-marker" style="color: black;font-size: 20px;line-height: 20px;margin-right: 12px;text-align: center;"></span>
                        <span>
                            <a data-encoded-url="SXhNX2h0dHBzOi8vbWFwcy5nb29nbGUuY29tL21hcHM/c2FkZHI9JmRhZGRyPVZpYStWaWxsYStkZWxsYStSZWdpbmErOSUyRkElMkMrMTAxMzErVG9yaW5vK0l0YWxpYUA0NS4wNjE0OSw3LjcwMTYyX1JVMw==" class="YnKZo Ci Wc _S C FPPgD" target="_blank" href="https://maps.google.com/maps?saddr=&amp;daddr=Via+Villa+della+Regina+9%2FA%2C+10131+Torino+Italia@45.06149,7.70162">
                                <span>Via Villa della Regina 9/A, 10131 Torino Italia</span>
                            </a>
                        </span>
                    </div>
                </div>
                <div>
                    <div class="" style="display: flex; margin-top: 12px">
                        <span class="fa fa-building-o" style="color: black;font-size: 20px;line-height: 20px;margin-right: 12px;text-align: center;"></span>
                        <span class=""><b>1,1 km</b> da Museo Nazionale del Cinema</span>
                    </div>
                </div>
                <div>
                    <div class="" style="display: flex; margin-top: 12px">
                        <span class="fa fa-envelope" style="color: black;font-size: 20px;line-height: 20px;margin-right: 12px;text-align: center;"></span>
                        <span class="">miyabi.torino@gmail.com</span>
                    </div>
                </div>
                <div>
                    <div class="" style="display: flex; margin-top: 12px">
                        <span class="fa fa-phone" style="color: black;font-size: 20px;line-height: 20px;margin-right: 12px;text-align: center;"></span>
                        <span class="">+39 011 819 6890</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    This is a thymeleaf of spring boot just go to the pageFragment.html
        and copy-replace this with the socialmedia part and it will become normal html
-->
    <div th:replace="thymeleafFragments/pageFragment.html :: socialMedia-div"></div>

    <script src="javascript.js"></script>
</body>
</html>