
<html>

<head>
    <title>Restaurant Website</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>

<body>
<div>
    <header>
        <div class="logo">Miyabi</div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/gallary">Menu</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>

        </nav>
    </header>
</div>

<div class=" heading container">
    <div class="row" style="display: flex;gap: 20px;">
        <div class="col" style="padding-left: 5px;padding-right: 5px;border-radius: 5px;min-height: 500px;padding-top: 50px;">
            <div class="recensione">
                <img src="images/tip.PNG" style="border-radius: 15px;">
            </div>
        </div>
        <div class="col" style="background-color: ghostwhite;padding-left: 5px;padding-right: 5px;border-radius: 15px;min-height: 500px;">
            <div style="min-height: inherit;padding-left: 20px;padding-right: 20px;padding-top: 50px;" class="d-flex flex-column">
                <div>
                    <h1>Località e contatti</h1>
                </div>
                <div>
                    <img src="https://maps.google.com/maps/api/staticmap?&amp;channel=ta.desktop.restaurant_review&amp;zoom=15&amp;size=347x137&amp;scale=1&amp;client=gme-tripadvisorinc&amp;format=jpg&amp;sensor=false&amp;language=it_IT&amp;center=45.061489,7.701620&amp;maptype=roadmap&amp;&amp;markers=icon:http%3A%2F%2Fc1.tacdn.com%2F%2Fimg2%2Fmaps%2Ficons%2Fcomponent_map_pins_v1%2FR_Pin_Small.png|45.061489,7.701620&amp;signature=aCMUBY9icL3dvbRMraLYrwpHTuQ=" style="min-width: 100%; border: #11101b solid 1px">
                </div>
                <div>
                    <div class="" style="display: flex; margin-top: 12px">
                        <span class="fa fa-map-marker" style="color: black;font-size: 20px;line-height: 20px;margin-right: 12px;text-align: center;"></span>
                        <span>
                            <a data-encoded-url="SXhNX2h0dHBzOi8vbWFwcy5nb29nbGUuY29tL21hcHM/c2FkZHI9JmRhZGRyPVZpYStWaWxsYStkZWxsYStSZWdpbmErOSUyRkElMkMrMTAxMzErVG9yaW5vK0l0YWxpYUA0NS4wNjE0OSw3LjcwMTYyX1JVMw==" class="YnKZo Ci Wc _S C FPPgD" target="_blank" href="https://maps.google.com/maps?saddr=&amp;daddr=Via+Villa+della+Regina+9%2FA%2C+10131+Torino+Italia@45.06149,7.70162">
                                <span class="">Via Villa della Regina 9/A, 10131 Torino Italia</span>
                            </a>
                        </span>
                    </div>
                </div>
                <div>
                    <div class="" style="display: flex; margin-top: 12px">
                        <span class="fa fa-building-o" style="color: black;font-size: 20px;line-height: 20px;margin-right: 12px;text-align: center;"></span>
                        <span class=""><b>1,1 km</b> da Museo Nazionale del Cinema</span>
                    </div>
                </div>
                <div>
                    <div class="" style="display: flex; margin-top: 12px">
                        <span class="fa fa-envelope" style="color: black;font-size: 20px;line-height: 20px;margin-right: 12px;text-align: center;"></span>
                        <span class="">miyabi.torino@gmail.com</span>
                    </div>
                </div>
                <div>
                    <div class="" style="display: flex; margin-top: 12px">
                        <span class="fa fa-phone" style="color: black;font-size: 20px;line-height: 20px;margin-right: 12px;text-align: center;"></span>
                        <span class="">+39 011 819 6890</span>
                    </div>
                </div>



            </div>
        </div>


    </div>
</div>

<div id="floatingRectangle">
    <div class="SocialMedia">
        <a href="https://www.facebook.com/MiyabiTorino/" target="_blank">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="https://www.tripadvisor.it/Restaurant_Review-g187855-d10798052-Reviews-Miyabi-Turin_Province_of_Turin_Piedmont.html" target="_blank">
            <i class="fa fa-tripadvisor" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/miyabitorino/?hl=it" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=%2B393516160558&fbclid=IwAR35h_A_TVFQdEQ5k2lNI1zIBtj14UzaRiVoPGgTPABk9rLuRQtjEzbqI6A" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
    </div>
</div>
<script src="javascript.js"></script>
</body>
</html>