<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<!--    This is a thymeleaf of spring boot just go to the pageFragment.html
        and copy-replace this with the head part and it will become normal html
-->
<head th:replace="thymeleafFragments/pageFragment.html :: head-global"></head>
<title>Miyabi Home</title>

<body>
<!--    This is a thymeleaf of spring boot just go to the pageFragment.html
        and copy-replace this with the header-div part and it will become normal html
-->
	<div th:replace="thymeleafFragments/pageFragment.html :: header-div"></div>

	<div class=" heading container">
	<div class="row">
		<div class="col">
			<div class="left">
				<p>Hai fame?</p>
				<h1>Non aspettare</h1>
				<p>Iniziamo a ordinare il cibo ora</p>

				<button>Check out Menu</button>
			</div>
		</div>
		<div class="logo-miyabi col d-flex">
			<div class="right" id="food"></div>
		</div>
	</div>
</div>

<!--    This is a thymeleaf of spring boot just go to the pageFragment.html
        and copy-replace this with the socialMedia-div part and it will become normal html
-->
	<div th:replace="thymeleafFragments/pageFragment.html :: socialMedia-div"></div>

	<script src="javascript.js"></script>
</body>
</html>