<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<!--    This is a thymeleaf of spring boot just go to the pageFragment.html
        and copy-replace this with the head part and it will become normal html
-->
<head th:replace="thymeleafFragments/pageFragment.html :: head-global"></head>
    <title>Menu Gallery</title>

<body>
<!--    This is a thymeleaf of spring boot just go to the pageFragment.html
        and copy-replace this with the header-div part and it will become normal html
-->
    <div th:replace="thymeleafFragments/pageFragment.html :: header-div"></div>

    <div class="wrapper">

        <div class="gallery">
        <div class="gallery__item gallery__item--1">
            <a href="#" class="gallery__link">
                <img src="images/1.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>Eating Panda</span>
                </div>
            </a>
        </div>
        <div class="gallery__item gallery__item--2">
            <a href="#" class="gallery__link">
                <img src="images/2.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>Roaring Lion</span>
                </div>
            </a>
        </div>
        <div class="gallery__item gallery__item--3">
            <a href="#" class="gallery__link">
                <img src="images/3.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>Elephants in a field</span>
                </div>
            </a>
        </div>
        <div class="gallery__item gallery__item--4">
            <a href="#" class="gallery__link">
                <img src="images/4.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>Buck in the wild</span>
                </div>
            </a>
        </div>
        <div class="gallery__item gallery__item--5">
            <a href="#" class="gallery__link">
                <img src="images/5.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>A little fox</span>
                </div>
            </a>
        </div>
        <div class="gallery__item gallery__item--6">
            <a href="#" class="gallery__link">
                <img src="images/6.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>Group of horses</span>
                </div>
            </a>
        </div>
    </div>

        <div class="gallery">
        <div class="gallery__item gallery__item--1">
            <a href="#" class="gallery__link">
                <img src="images/7.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>Eating Panda</span>
                </div>
            </a>
        </div>
        <div class="gallery__item gallery__item--2">
            <a href="#" class="gallery__link">
                <img src="images/8.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>Roaring Lion</span>
                </div>
            </a>
        </div>
        <div class="gallery__item gallery__item--3">
            <a href="#" class="gallery__link">
                <img src="images/9.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>Elephants in a field</span>
                </div>
            </a>
        </div>
        <div class="gallery__item gallery__item--4">
            <a href="#" class="gallery__link">
                <img src="images/10.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>Buck in the wild</span>
                </div>
            </a>
        </div>
        <div class="gallery__item gallery__item--5">
            <a href="#" class="gallery__link">
                <img src="images/11.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>A little fox</span>
                </div>
            </a>
        </div>
        <div class="gallery__item gallery__item--6">
            <a href="#" class="gallery__link">
                <img src="images/12.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>Group of horses</span>
                </div>
            </a>
        </div>
    </div>

        <div class="gallery">
        <div class="gallery__item gallery__item--1">
            <a href="#" class="gallery__link">
                <img src="images/13.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>Eating Panda</span>
                </div>
            </a>
        </div>
        <div class="gallery__item gallery__item--2">
            <a href="#" class="gallery__link">
                <img src="images/14.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>Roaring Lion</span>
                </div>
            </a>
        </div>
        <div class="gallery__item gallery__item--3">
            <a href="#" class="gallery__link">
                <img src="images/15.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>Elephants in a field</span>
                </div>
            </a>
        </div>
        <div class="gallery__item gallery__item--4">
            <a href="#" class="gallery__link">
                <img src="images/16.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>Buck in the wild</span>
                </div>
            </a>
        </div>
        <div class="gallery__item gallery__item--5">
            <a href="#" class="gallery__link">
                <img src="images/17.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>A little fox</span>
                </div>
            </a>
        </div>
        <div class="gallery__item gallery__item--6">
            <a href="#" class="gallery__link">
                <img src="images/18.jpg" class="gallery__image" />
                <div class="gallery__overlay">
                    <span>Group of horses</span>
                </div>
            </a>
        </div>
    </div>

<!--        If want to add more item add a gallary div here and link the images like this-->
<!--        <div class="gallery"> all the other div from above</div>-->
    </div>

<!--    This is a thymeleaf of spring boot just go to the pageFragment.html
        and copy-replace this with the socialMedia-div part and it will become normal html
-->
    <div th:replace="thymeleafFragments/pageFragment.html :: socialMedia-div"></div>

    <script src="javascript.js"></script>

</body>
</html>